@model ECommerceWebApp.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "View";
}

<h1>GameShop</h1>

<div>
    @Html.ValidationMessage("PageError", new {@class = "text-danger"})
    <hr />
    <table>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <th>@category.Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            var products = category.Products.OrderBy(p => p.Name).ToList();
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>

                    @if (product.Quantity <= 0)
                    {
                        <td>Sold out</td>
                    }
                    else
                    {
                        @if (Model.CartItems != null)
                        {
                            @if (Model.CartItems.Contains(product.ProductId))
                            {
                                <td>
                                    <form method="post" asp-controller="ShoppingCart" asp-action="ShoppingCart">
                                        <input type="submit" value="In Cart" />
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form method="post" asp-controller="ShoppingCart" asp-action="UpdateCart">
                                        <input type="hidden" name="ProductId" value="@product.ProductId" />
                                        <input type="hidden" name="ProductPrice" value="@product.Price" />
                                        <input type="hidden" name="Action" value="Add" />
                                        <input type="submit" value="Add to Cart" />
                                    </form>
                                </td>
                            }
                        }
                    }
                </tr>
            }
        }
    </table>
</div>