@model IEnumerable<ProductCategory>

@{
    ViewData["Title"] = "View";
}

<h1>GameShop</h1>

<div>
    <hr />
    <table>
        @foreach (var category in Model)
        {
            <tr>
                <th>@category.Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            @foreach (var product in category.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    @if (product.Quantity > 0)
                    {
                        <td>@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { productId = product.ProductId, productPrice = product.Price}, null)</td>
                    }
                    else
                    {
                        <td>Sold out</td>
                    }

                </tr>
            }
        }
    </table>
</div>