@model ECommerceWebApp.ViewModels.AccountDetailsViewModel

@{
    ViewData["Title"] = "AccountDetails";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AddressId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AddressId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ShoppingCartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ShoppingCartId)
        </dd>
    </dl>
</div>

<h4>Order History</h4>
<div>
    @if (Model.OrderHistory != null)
    {
        @foreach (var order in Model.OrderHistory)
        {
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Order Id
                </dt>
                <dd class="col-sm-10">
                    @order.OrderId
                </dd>
                <dt class="col-sm-2">
                    Account Id
                </dt>
                <dd class="col-sm-10">
                    @order.AccountId
                </dd>
                <dt class="col-sm-2">
                    Order Date
                </dt>
                <dd class="col-sm-10">
                    @order.OrderDate
                </dd>
                <dt class="col-sm-2">
                    Total Price
                </dt>
                <dd class="col-sm-10">
                    @order.TotalPrice
                </dd>
                <dt class="col-sm-2">
                    Order Date
                </dt>
                <dd class="col-sm-10">
                    @order.OrderDate
                </dd>
            </dl>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                @foreach (var item in order.OrderItems)
                {

                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.OrderPrice</td>
                        <td>@item.Quantity</td>
                        <td>@item.ShoppingItemTotalPrice</td>
                    </tr>

                }
            </table>
        }
    }
</div>
