@model ECommerceWebApp.ViewModels.AccountDetailsViewModel

@{
    ViewData["Title"] = "AccountDetails";
}

<h1>AccountDetails</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.AddressId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.AddressId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ShoppingCartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ShoppingCartId)
        </dd>
    </dl>
</div>



<table>
    <tr>
        <th>Order Id</th>
        <th>Account Id</th>
        <th>Address</th>
        <th>Order Date</th>
        <th>Total Price</th>
    </tr>
    @if (Model.OrderHistory != null)
    {
        @foreach (var order in Model.OrderHistory)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.AccountId</td>
@*                @if (order.ShippingAddress.AddressLine1 != null)
                {
                    <td>@order.ShippingAddress.AddressLine1</td>
                }*@

                <td>@order.OrderDate</td>
                <td>@order.TotalPrice</td>
            </tr>
            @foreach (var item in order.OrderItems)
            {
                <tr>
                    <td>@*@item.Product.Name*@</td>
                    <td>@item.Quantity</td>
                    <td>@item.ShoppingItemTotalPrice</td>
                </tr>
            }
            <tr>
                <td><hr /></td>
            </tr>
        }
    }
</table>
