@model IEnumerable<ShoppingCart>

@{
    ViewData["Title"] = "View";
}

@foreach(var m in Model)
{
    <p>CartID: @m.CartId</p>
}
<div>
    <hr />
    <table>
        @foreach (var m in Model)
        {
            <tr>
                <th>productId</th>
                <th>Total Price</th>
                <th>Quantity</th>
            </tr>
            @foreach (var product in m.CartItems)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.TotalPrice</td>
                    <td>@product.Quantity</td>
                    @*<td>@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = product.Id, price = product.Price}, null)</td>*@
                </tr>
            }
        }
    </table>
</div>
